#email-input {
  width: 100%;
  margin: auto;
}
#email {
  margin: auto;
  width: 15%;
  display: block;
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 3vh;
  font-size: small;
  display: grid;
  grid-template-columns: 90% 10%;
}

#copy-icon {
  font-size: medium;
  cursor: pointer;
  justify-self: center;
  position: relative;
  display: inline-block;
}

#copy-icon #copy-text {
  font-size: small;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -5px;
  left: 185%;
  position: absolute;
  z-index: 1;
}

#copy-icon:hover {
  color: rgb(180, 178, 178);
}

#copy-icon:hover #copy-text {
  visibility: visible;
  background-color: #fdec08;
}

#copy-icon #copy-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #fdec08 transparent transparent;
}

@media only screen and (max-width: 600px) {
  #email {
    width: 50%;
  }
  #copy-icon {
    visibility: hidden;
    pointer-events: none;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  #email {
    width: 30%;
  }
  #copy-icon {
    visibility: hidden;
    pointer-events: none;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1250px) {
  #email {
    width: 25%;
  }
}

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #593cff;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

.snackbar.show {
  visibility: visible;
  pointer-events: none;
  animation: fadein 0.5s, fadeout 0.5s 2.5s forwards;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0px;
    opacity: 0;
  }
}
